* {
    padding: 0px;
    margin: 0px;
    outline: solid yellowgreen;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #E5F2FC;
}

header {
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    padding: 5px;
}
.general{

}
.container {
    padding: 40px;
    width: 1260px;
    height: 5px;
}

.btn-menu {
    padding: 2px;
    text-decoration: none;
    color: #8B8D8B;
}

.btn-menu:hover {
    background-color: #58ACFA;
    border-radius: 10px solid silver;
    text-decoration: none;
    color: white;
}

.icon-home2 {
    font-size: 20px;
    color: #8B8D8B;
}

.icon-bell {
    font-size: 20px;
    color: #8B8D8B;
}

.icon-envelope {
    font-size: 20px;
    color: #8B8D8B;
}

.icon-brand {
    font-size: 30px;
    position: fixed;
    left: 660px;
    top: 40px;
}

#foto1 {
    width: 40px;
    height: 40px;
    left: 1125px;
    position: fixed;
    top: 35px;
    border-radius: 2000px;
    border-style: solid;
    border-color: #8B8D8B;
}

input {
    width: 220px;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #8B8D8B;
    left: 875px;
    top: 45px;
    position: fixed;
}

.icon-search {
    font-size: 20px;
    color: #8B8D8B;
    position: fixed;
    left: 1080px;
    top: 50px;
}

.pluma {
    font-weight: 700;
    padding: 8px;
    display: inline;
    text-decoration: none;
    color: white;
    right: 220px;
    line-height: 5px;
    border-radius: 23px;
    border-style: solid;
    width: 100px;
    background: #58ACFA;
    position: fixed;
    top: 40px;
}

.icon-quill {
    font-size: 20px;
    color: white;
}

.twitter {
    padding: 5px;
    float: right;
    font-size: 17px;
}

#general {
    width: 440px;
    height: 950px;
    float: left;
    margin-top: 150px;
    background: #E5F2FC;
}

#primero {
    width: 350px;
    height: 350px;
    background-color: white;
    margin-left: 40px;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
}

#fondo {
    width: 343px;
    height: 200px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 6px;
    border-color: white;
}

#foto {
    width: 100px;
    height: 100px;
    margin-left: 7px;
    margin-top: -50px;
    border-radius: 7px;
    border-color: white;
    border-style: solid;
}

.nombre {
    width: 130px;
    margin-top: -60px;
    margin-left: 130px;
    text-align: right;
    font-size: 17px;
}

.email {
    width: 100px;
    margin-top: 12px;
    margin-left: 130px;
    text-align: right;
    font-size: 15px;
    font-weight: 200px;
    padding: 5px;
    color: #8B8D8B;
}

#textos {
    padding: 14px 60px;
    overflow: auto;
}

.text {
    width: 65px;
    height: 13px;
    font-weight: 200px;
    font-size: 11px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #8B8D8B;
    float: left;
}

.number {
    width: 65px;
    height: 13px;
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #58ACFA;
    float: left;
}

.segundo {
    width: 350px;
    height: 400px;
    background-color: white;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
}

#parrafos {
    padding: 14px 60px;
}

.parrafo {
    width: 65px;
    height: 13px;
    font-weight: 500px;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    color: black;
    float: left;
}

.parrafo1 {
    width: 65px;
    height: 13px;
    font-weight: 200px;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    color: #3F9AEC;
    float: left;
}

.tweet {
    top: 10px;
    width: 250px;
    height: 19px;
    font-weight: 600px;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    text-align: left;
    color: #58ACFA;
    float: left;
}

.num {
    width: 65px;
    height: 13px;
    font-weight: 600;
    font-size: 10px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    color: #8B8D8B;
    float: left;
}

.clear-left {
    clear: left;
}

/*=============================================
=       Section Cuerpo comentarios          =
=============================================*/
#informacion{
    background-color: #7ccbea;
    width: 550px;
    margin-top: 140px;
}
#perfil{
    border-radius: 5px;
    position: relative;
    left: 18px;
    top: 10px;
}
#ingresar{
    width: 440px;
    height: 30px;
    margin: 15px;
    margin-left: 5px;
    border-radius: 8px;
    position: relative;
    left: 20px;
}
.icon-camera{
    color: #7ccbea;
    position: relative;
    right: 30px;
}

/*=====  End of Section comment block  ======*/
/*=============================================

/*=============================================
=       Section E! Latin America          =
=============================================*/
#latin{
    width: 550px;
    height: 100px;
    background-color: white;
}
#e{
    border-radius: 5px;
    position: relative;
    right: 228px;
    top: 7px;
}
h2{
    font-size: 16px;
    width: 400px;
    text-align: left;
    position: relative;
    bottom: 50px;
    right: -5px;
}
.text-plomo{
    color: gray;
}
p{
    font-size: 10px;
    width: 400px;
    text-align: left;
    position: relative;
    left: 8px;
    bottom: 50px;
}
.text-azul{
    color: blue;
}

.icon-circle-down{
    float: right;
    color: gray;
}
.icon-arrow-left2{
    position: relative;
    right: 160px;
    bottom: 30px;
    color: gray;
}
.icon-loop{
    position: relative;
    right: 90px;
    bottom: 30px;
    color: gray;
}
.icon-heart{
    color: gray;
    position: relative;
    bottom: 30px;
    right: 10px;
}

/*=============================================
=       Section Stalker          =
=============================================*/
#stalker{
    width: 550px;
    height: 100px;
    background-color: white;
    border-top: 1px solid gray;
}
.num1{
    width: 20px;
    color: gray;
    position: relative;
    right: 145px;
    bottom: 50px;
}
.num2{
    width: 20px;
    color: gray;
    position: relative;
    /*left: 125px;*/
    right: 50px;
    bottom: 65px;
}
.num3{
    width: 20px;
    color: gray;
    position: relative;
    left: 40px;
    bottom: 80px;
}

/*=============================================
=       Section Frases de Canciones          =
=============================================*/
#frases-canciones{
    width: 550px;
    height: 100px;
    background-color: white;
    border-top: 1px solid gray;
}
.num4{
    width: 20px;
    color: gray;
    position: relative;
    /*left: 125px;*/
    right: 50px;
    bottom: 50px;
}
.num5{
    width: 20px;
    color: gray;
    position: relative;
    left: 40px;
    bottom: 65px;
}
/*=============================================
=       Section Poemas escritos        =
=============================================*/
#poemas-escritos{
    width: 550px;
    height: 100px;
    background-color: white;
    border-top: 1px solid gray;
}

/*=============================================
=       Section Frases de Canciones - 2       =
=============================================*/
#frases-canciones-2{
    width: 550px;
    height: 100px;
    background-color: white;
    border-top: 1px solid gray;
}

/*=============================================
=       Section A quién seguir        =
=============================================*/
#columna-izq{
    width: 25%;
    position: relative;
    left: 450px;
    bottom: 1065px;

}
#container{
    width: 320px;
    height: 310px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid gray;
/*  text-align: left;
*/}
#seguir-azul{
    font-size: 10px;
}
#text-alinear{
    width: 200px;
    position: relative;
    left: 30px;
}
.igp-imagen{
    position: relative;
    right: 110px;
    top: 5px;
}
.icon-cross{
    color: gray;
    font-size: 10px;
    position: relative;
    bottom: 69px;
    left: 180px;    
}
.boton-seguir{
    width: 80px;
    height: 25px;
    text-align: center;
    position: relative;
    bottom: 40px;
    right: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}
/*ericasadun-imagen*/
.ericasadun-imagen{
    position: relative;
    position: relative;
    right: 110px;
    top: 5px;
}
/*udemy-imagen*/
.udemy-imagen{
    position: relative;
    position: relative;
    right: 110px;
    top: 5px;
}
#encontrar-amigos{
    width: 90px;
    font-size: 10px;
    position: relative;
    bottom: 30px;
    right: 90px;
}
/*PRIVACIDAD*/
#privacidad{
    width: 287px;
    height: 100px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid gray;
    text-align: left;
    padding: 16px;
    font-size: 13px;
    margin-top: 13px;
}
/*publicitar*/
#publicitar{
    width: 287px;
    height: 20px;
    background-color: #7ccbea;
    border-radius: 7px;
    border: 1px solid gray;
    text-align: left;
    padding: 16px;
    font-size: 13px;
}